p{
    color:rgb(224, 55, 26);
    text-align:center;
    font-size:25px;
    font-family:'Algerian';
    background-color:rgb(150, 163, 236);
}
body{
    background-image:url("image.png");
}
#wrapper{
    width:45px; margin:0 auto;
}